.tabs {
    .tab-header-wrap {
        display: flex;
        padding: 0 1px;

        @media (max-width: $mobile-max) {
            display: none;
        }
    }

    .tab-header-btn {
        display: none;
        cursor: pointer;
        padding: 8px 20px;
        transition: background-color .2s linear;

        @media (max-width: $mobile-max) {
            display: block;

            &:hover {
                background-color: $c-border;
            }
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;

            @media (max-width: $mobile-max) {
                box-shadow: 0 0 0 1px $c-border;
            }
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    #mouse {
        padding: 0 !important;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }

        &-img {
            height: 300px;
            overflow: hidden;
            position: relative;

            .img {
                position: absolute;
                min-width: 1920px;
                cursor: move;
            }
        }
    }
}
